body{
    color:white;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: solid;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
.top-slider{ /*for the top purple bar slider*/
    background-color: #8b63e4;
    height: 100px;
    width: 100%;
    text-align: center;
    padding:10px 10px;
}
.top-nav{
    margin-top:10px;

}
.top-slider>.top-slider-text{
    color:white;
   
}
.top-ui-ul{
    position:fixed;
    list-style: none; /* Removes bullet points */
    padding: 0;
    display: flex;
    margin:10px 20px 20px 
}
.sample{
    margin-top: 10px;;
    height:100px;
    width:100px;
    background-color: #8b63e4;
    position:fixed;
}